#nav-menu > ul > li.active >a {
	background-color: #D9220F;
	color: #FCFCFC;
	border: 1px solid #FCFCFC;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.xaxis {
	fill: none;
	stroke: #000000;
}
