<div class="row">
	<div class="col-sm-12">
		<h3>About</h3>
		<p>This is a simple web app built to display the sectionals provided by <a href="http://www.turftrax.co.uk/">Turftrax</a> for races run at Lingfield Park.  It uses a number of open source libraries to help build interactive visualisations, the two primary libraries are <a href="https://angularjs.org/">AngularJS</a> and <a href="http://d3js.org/">D3</a>.</p>
		<p>The code for this site is available for others, with the hope that other, more experienced, talented, individuals will contribute and make improvements.  Find the code 	<a href="https://github.com/durtal/Lingfield-Sectionals">here</a>.</p>
	</div>
</div>
